/*----------------attributes----------------*/
/*!!!only change colors here!!!*/
:root {
    --main-color-1: #00aa9b;
    --main-color-2: #ffffff;
    --control-color-1: var(--main-color-1);
    --control-color-2: var(--main-color-2);
    --menu-bg-color: var(--control-color-1);
    --menu-text-icon-color: var(--main-color-2);
}

/*----------------Loading Logo----------------*/
.loading {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 60%;
}
#portal-logo {
    max-height: 50vh;
    max-width: 50vw;
    left: 0px;
}
/*----------------controls----------------*/
/* todo: dynamic color-setting for zoom buttons */
/* button.control-icon.bootstrap-icon.standalone > i.bi-plus-icon {
    content: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z' stroke='white' /%3e%3c/svg%3e");
}
button.control-icon.bootstrap-icon.standalone > i.bi-minus-icon {
    content: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z' stroke='white' stroke-width='1'/%3e%3c/svg%3e");
} */
button.control-icon.bootstrap-icon.standalone > i.bi-masterportal-zoom-in,
button.control-icon.bootstrap-icon.standalone > i.bi-masterportal-zoom-out {
    color: var(--control-color-2);
    background-color: var(--control-color-1);
}

button.control-icon.standalone {
    color: var(--control-color-2);
    background-color: var(--control-color-1);
}
button.control-icon.standalone:hover {
    color: var(--control-color-2);
    background-color: var(--control-color-1);
    opacity: 0.5;
}
button.control-icon.standalone:focus {
    color: var(--control-color-2);
    background-color: var(--control-color-1);
    opacity: 0.5;
    outline: 1px solid lighten(var(--control-color-1), 15%);
}
button.control-icon.standalone.toggleButtonPressed {
    color: var(--control-color-1);
    background-color: var(--control-color-2);
}
.button.control-icon.standalone.toggleButtonPressed:hover {
    color: var(--control-color-1);
    background-color: var(--control-color-2);
    opacity: 0.5;
}
button.control-icon.standalone.toggleButtonPressed:focus {
    color: var(--control-color-2);
    background-color: var(--control-color-1);
    opacity: 0.5;
    outline: 1px solid lighten(var(--control-color-1), 15%);
}

/* mouse-position */
div.portal-footer-mouse-position.mouse-position {
    background-color: var(--control-color-1);
}
div.portal-footer-mouse-position.mouse-position span.mouse-position-span {
    color: var(--control-color-2);
}
#hide-mouse-position {
    background-color: var(--control-color-1);
}
#hide-mouse-position i {
    color: var(--control-color-2);
    background-color: var(--control-color-1);
}

/* button 3d*/
#button3D {
    color: var(--control-color-2);
    background-color: var(--control-color-1);
}
/*----------------menu----------------*/

#root .dropdown {
    background-color: var(--menu-bg-color);
    transition: 0.15s;
}
#root .dropdown > a:hover,
#root .dropdown > a:hover > span,
#root .dropdown > a:hover > span > i,
#info .dropdown > a:hover > span,
#info .dropdown > a:hover > span > i {
    background-color: var(--menu-text-icon-color);
    color: var(--menu-bg-color);
    transition: 0.15s;
}
/* menu text and icons */
#navbarRow,
#root .dropdown-folder > a > span,
.nav-item > a > span > i {
    color: var(--menu-text-icon-color);
    background-color: var(--menu-bg-color);
    transition: 0.15s;
}

/* Werkzeuge/Info aktiv und nichtaktiv:hover */
#tools .active,
#tools .submenu-style.active > a.nav-link,
#tools .submenu-style> a.nav-link:hover,
#info .submenu-style> a:hover {
    background-color: var(--menu-text-icon-color);
    color: var(--menu-bg-color);
}
/* Werkzeuge/Info aktiv:hover und nichtaktiv */
#tools .submenu-style > a.nav-link,
#tools .submenu-style.active > a.nav-link:hover,
#info .submenu-style > a {
    background-color: var(--menu-bg-color);
    color: var(--menu-text-icon-color);
}


.btn-primary {
    background-color: var(--menu-bg-color);
    border-color: var(--menu-bg-color);
    color: var(--menu-text-icon-color);
}
.btn-primary:hover {
    background-color: var(--menu-text-icon-color);
    border-color: var(--menu-bg-color);
    color: var(--menu-bg-color);
}
.btn-primary:disabled {
    background-color: var(--menu-bg-color);
    border-color: var(--menu-bg-color);
    color: var(--menu-text-icon-color);
    opacity: 0.5;
    cursor: not-allowed;
}

/*----------------mouseHover----------------*/
#mousehover-overlay .mouseHover {
    padding: 2px;
}
#mousehover-overlay .mouseHover .title,
#mousehover-overlay .mouseHover .info,
#mousehover-overlay .mouseHover p {
    color: var(--main-color-1);
    opacity: 0.5;
    margin: 0px;
}
#mousehover-overlay .mouseHover br {
    display: none;
}
